.card {
    width: 24%;
    float: left;
    height: 400px;
    border-radius: 20px;
    margin: 20px 0.5%;
}
a{
    display: block;
}
figure.image{
    height: 55%;
    overflow: hidden;
    vertical-align: middle;
}
.image img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.card-content .media-content {
    overflow: hidden;
}
.card-content .media-content h3{
    font-size: 21px;
    font-weight: 500;
    display: block;
    width: 70%;
    float: left;
}
.card-content .media-content h4{
    font-size: 21px;
    display: block;
    width: 30%;
    float: left;
    text-align: right;
}
.card-content .media-content h4 span{
    background-color: #eaeaea;
    padding: 2 10px;
    border-radius: 30px;
}
.card-content .content{
    margin: 20px 0;
    display: block;
    width: 100%;
}

.modal-content img{
    border-radius: 0;
}
form {
    text-align: center;
    margin: 20px 0 10px;
}
form label{
    font-size: 21px;
}
form input{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px 10px;
}
form button{
    background-color: transparent;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #000;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
    color: #000;
}
form button:hover{
    background-color: #000;
    color: #efefef;
}